*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-size: 20px;
    font-family: 'PT Sans', 'Arial' sans-serif;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

button:focus {outline:0;}

header{
    height: 100vh;
    background-color: #235F83;
}

nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar{
    padding-bottom: 15px;
}

.nav-list{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 100%;
    height: 100%;
    padding: 10px 0;
    margin-bottom: 0;
}

.nav-list li:nth-child(3){
    margin-right: 30px;
}


.nav-logo{
    position: absolute;
    height: 115px;
    top: -10px;
}

.nav-list{
    margin-top: 15px;
}

.nav-list li{
    padding-left: 25px;
}

nav a:link, nav a:visited{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.2s;
}

nav a:hover, nav a:active{
    border-bottom: 2px solid #EC4E20;
}

.hero-box{
    margin-top: 3.5rem;
    display: flex;
    justify-content: center;
}

.hero-box-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    text-align: center;
    height: 60vh;
    width: 85%;
}

.header-buttons{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn-empty:link, .btn-empty:visited {
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #EC4E20;
    color: #fff;
    margin-right: 50px;
}

.btn-empty{
    background-color: inherit;
    transition: background-color 0.2s;
}

.btn-empty:hover{
    background-color: #EC4E20;
}

.nav-list li:last-child a:link,.nav-list li:last-child a:visited {
    padding-left: 0;
    background-color: #EC4E20;
    color: #fff;
    padding: 12px;
    border-radius: 10px;
    transition: background-color 0.2s;

}

.nav-list li:last-child a:hover,.nav-list li:last-child a:active {
  background-color: #d63506;
}


/*******************************
    Reusable Styles
********************************/
section{
    padding: 70px;
}


/* Headings */
h1{
    font-size: 3.25rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 5px;
}

p.hero-subtext{
    font-size: 1rem;
    text-transform: uppercase;
}

h2{
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

h2:after{
    border-bottom: 4px solid #EC4E20;
    display: block;
    content: "";
    width: 200px;
    margin: 20px auto;
}

h3{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 10px;
}

h4{
    text-align: center;
}

/* icon styles */
.icon-big{
    font-size: 60px;
}

/********************************
    Features Section
*********************************/
.feature-box{
    text-align: center;
}

.feature-box img{
  height: 60px;
  width: auto;  
}

.section-about .row:first-child{
    margin-bottom: 30px;
}

/**********************************
    Section Signup
**********************************/
#sign-up{
    background-color: #EFF1F3;
}

#sign-up h4{
    color: #fff;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

.premium{
    background-color: #235F83;
}

.price-container{
    text-align: center;
    color: #EC4E20;
}

.price{
    font-size: 2.75rem;
}

.signup-list{
   list-style: none; 
}

.signup-list i{
    margin-right: 10px;
    margin-bottom: 15px;
}

.card-button{
    display: flex;
    justify-content: center;
}
.card-button button{
    padding: 10px;
    text-transform: uppercase;
    background-color: #EC4E20;
    width: 100%;
    border-radius: 5px;
    color: white;
}

/************************************
    Contact Section
*************************************/

 input[type=text]{
    width: 75%;
}


.social-list{
    list-style: none;
    display: flex;
}

.social-icon{
    margin-right: 40px;
    font-size: 40px;
}

.contact-card{
    background-color: #235F83;
    color: #f0f0f0;
    font-size: 1rem;
}

.contact-card h5{
    text-align: center;
    margin: 20px 0 30px 0;
}


.socials .col-md-4{
    text-align: right;
}

.contact-box, .contact-form{
    padding: 40px 0 25px 0;;
}

.contact-box .row{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

input[type=text]{
    width: 100%;
}

.contact-form{
    background-color: rgba(0, 0, 0, 0.3);
}

.contact-form .row{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-form button{
    width: 50%;
    border: 1px solid red;
    float: right;
    color: white;
    margin-top: 18px;
    font-size: 1.1rem;
}

/************************
    Footer Styles
*************************/
footer{
    background-color: #424C55;
    height: 4rem;
    color: #fff;
    display: flex;
    align-items: center;
}

footer .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright{
    margin-top: 10px;
}

.footer-links{
    display: flex;
    margin-top: 5px;
}

.footer-links p{
    padding-left: 15px;
    font-size: 0.7rem;
}

